## Docker Configuration
COMPOSE_PROJECT_NAME=dibiso-reporting

## API Configuration
# Admin user credentials (only used if no admin exists)
ADMIN_USERNAME=
ADMIN_PASSWORD=

# JWT Secret (long random string)
SECRET_KEY=

ACCESS_TOKEN_EXPIRE_HOURS=48
PROJECTS_PERSISTENCE_TIME_HOURS=4
PROJECTS_ANALYSES_RETENTION_DAYS=30

USERS_DATABASE_NAME=users.db
USERS_DATABASE_DIRECTORY=

HTML_TEMPLATE_URL='https://github.com/dibiso-upsaclay/dibiso-html-templates/releases/latest'
DEFAULT_MAX_ENTITIES=500

# CORS Configuration
# CORS_ALLOW_ORIGINS: urls separated by commas, e.g.: http://localhost:3000,http://127.0.0.1:3000
CORS_ALLOW_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*

# This is the thread pool where the report generation and compilation happen
THREAD_POOL_MAX_WORKERS=4

API_TITLE='LaTeX report generator API'
API_VERSION=1.0.0

# Only for developpment runs
DEV_API_HOST='0.0.0.0'
DEV_API_PORT=8000

# Only for deployment
API_PORT=127.0.0.1:8000

## dibisoreporting configuration
SCANR_API_PASSWORD=
SCANR_API_URL=
SCANR_API_USERNAME=
SCANR_BSO_INDEX=
SCANR_PUBLICATIONS_INDEX=

## openalex-analysis configuration
OPENALEX_ANALYSIS_CACHE_PATH=/tmp/openalex-analysis-cache
OPENALEX_API_KEY=
OPENALEX_EMAIL=
