fastapi[standard]>=0.116.1,<0.117.0
uvicorn[standard]
pydantic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
dibisoreporting>=0.7
pydantic[email]
python-multipart
starlette
requests
markdown>=3.5
weasyprint>=62
